* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.658);
}

body {
  background-image: url("./images/bgImg.png");
  /* background-color: 0.1; */
  /* background-image: url("./images/bgImg.jpg"); */
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text {
  padding-top: 20px;
  padding-bottom: 10px;
}

.top-calculator-cpm-text {
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: rgb(0, 0, 0);
}

.top-calculate-text {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: rgb(0, 0, 0);
}

.explanation-text {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 20px 20px;
  background-color: rgba(213, 240, 197, 0.3);
  width: 60%;
  border: 1px none rgb(255, 255, 255);
  border-radius: 30px;
  color: rgb(0, 0, 0);
}

.result-input {
  margin-bottom: 15px;
  font-weight: 700;
}

.select,
.input {
  height: 50px;
  width: 220px;
  border: 1px none rgb(255, 255, 255);
  background-color: white;
  border-radius: 30px;
  /* line-height: 24px; */
  padding: 10px;
  /* box-shadow: 5px 5px 2px rgb(20, 14, 14, 0.3); */
  box-shadow: 0px 28px 51px -18px rgba(66, 68, 90, 1);
  outline: none;
}

.activity-select {
  min-width: 600px;
}

.btn-container {
  margin-top: 20px;
}

.btn {
  background-color: rgb(76, 124, 72, 0.5);
  width: 216px;
  height: 50px;
  border: 1px none rgb(255, 255, 255);
  border-radius: 30px;
  font-weight: 700;
  margin: 0 auto;
  /* box-shadow: 5px 5px 2px rgb(20, 14, 14, 0.3); */
  box-shadow: 0px 28px 51px -18px rgba(66, 68, 90, 1);
  transition: background-color 1s, color 1s;
  /* transition: color 400ms ease; */
}

.btn:hover {
  background-color: rgb(76, 124, 72, 0.9);
  color: #ffffff;
}

::placeholder {
  color: rgba(0, 0, 0, 0.658);
  /* opacity: 0.95; */
}

/* .error-blank {
  /* border: 5px solid rgba(247, 49, 22, 0.2); */
/* box-shadow: inset 0px 0px 59px -45px rgba(250, 5, 5, 1);
} 
*/
/* .error-text {
  font-size: 0.8rem;
  color: rgb(247, 49, 22);
} */
