* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.658);
}

html {
  background-image: linear-gradient(
    34deg,
    rgba(75, 129, 81, 0.8) 0%,
    rgba(42, 119, 34, 0.8) 17%,
    rgba(161, 199, 74, 0.8) 77%
  );
  background-size: auto;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}

input,
select {
  display: block;
}

.top-calculator-cpm-text,
.top-calculate-text,
input,
select,
.btn,
.result-input,
.explanation-text {
  margin: 0 auto;
  margin-bottom: 0.625rem;
}

.top-calculator-cpm-text {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.top-calculate-text {
  font-size: 1.2rem;
}

.explanation-text {
  padding: 1.25rem 1.25rem;
  background-color: rgba(213, 240, 197, 0.3);
  width: 60%;
  border: 0.06rem none rgb(255, 255, 255);
}

.select,
.input,
.btn,
.explanation-text {
  border-radius: 1.875rem;
}

.select,
.input,
.btn {
  height: 3.125rem;
  width: 13.75rem;
  border: 1px none rgb(255, 255, 255);
  box-shadow: 0px 28px 51px -18px rgba(66, 68, 90, 1);
}

.select,
.input {
  background-color: white;
  padding: 0.625rem;
  outline: none;
}

.activity-select {
  min-width: 37.5rem;
}

.btn,
.result-input {
  font-weight: 700;
}

.btn {
  background-color: rgb(76, 124, 72, 0.5);
  margin: 0 auto;
  transition: background-color 1s, color 1s;
}

.btn:hover {
  background-color: rgb(76, 124, 72, 0.9);
  color: #ffffff;
}

/* ::placeholder {
  color: rgba(0, 0, 0, 0.658);
} */

/* .option {
  word-wrap: break-word;
}

.activity-select {
  max-width: 50px;
} */

@media screen and (min-width: 769px) {
  /* .container {
    display: flex;
    justify-content: center;
    display: block;
    align-items: center;
  } */
  /* body {
    background-repeat: repeat;
    background-size: contain;
    background-size: 100vh;
    height: 80vh;
    width: 50rem;
    height: 50rem;
  } */
}

@media screen and (min-width: 769px) {
  .select,
  .input,
  .btn,
  .explanation-text {
    border-radius: 1.875rem;
  }
}

/* body {
    background-repeat: repeat;
    background-size: contain;
    background-color: rgb(207, 207, 90);
    height: 100vh;
  } */
/* height: 200px; */
/* height: 100vh; */
/* background-attachment: scroll; */

/* background-size: contain; */
/* background-position: 20% 20%; */

@media screen and (min-width: 1025px) {
}

/* body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: auto;
    height: 100vh;
  } */
