* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.658);
}

html,
body {
  height: fit-content;
  min-height: 100%;
}

body {
  background-image: linear-gradient(
    34deg,
    rgba(75, 129, 81, 1) 0%,
    rgba(42, 119, 34, 1) 17%,
    rgba(161, 199, 74, 1) 77%
  );
  /* background-size: auto; */
  /* background-position: right top; */
  /* background-repeat: repeat; */
  /* background-size: 100%;
  background-size: 100vh 100vw; */
  /* background-position: center; */
}

input,
select {
  display: block;
}

.top-calculator-cpm-text,
.top-calculate-text,
input,
select,
.btn,
.result-input,
.explanation-text {
  margin: 0 auto;
  margin-bottom: 0.625rem;
}

.top-calculator-cpm-text {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.top-calculate-text {
  font-size: 1.2rem;
}

.explanation-text {
  padding: 1.25rem 1.25rem;
  background-color: rgba(213, 240, 197, 0.3);
  width: 60%;
  border: 0.06rem none rgb(255, 255, 255);
}

.select,
.input,
.btn,
.explanation-text {
  border-radius: 1.875rem;
}

.select,
.input,
.btn {
  height: 3.125rem;
  width: 13.75rem;
  border: 1px none rgb(255, 255, 255);
  box-shadow: 0px 28px 51px -18px rgba(66, 68, 90, 1);
}

.select,
.input {
  background-color: white;
  padding: 0.625rem;
  outline: none;
}

.btn,
.result-input {
  font-weight: 700;
}

.btn {
  background-color: rgb(76, 124, 72, 0.5);
  background-color: rgb(216, 160, 39);
  transition: background-color 1s, color 1s;
}

.btn:hover {
  background-color: rgb(76, 124, 72, 0.9);
  background-color: rgb(173, 127, 28);
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .top-calculate-text {
    width: 90vw;
  }

  .select,
  .input,
  .btn,
  .explanation-text {
    border-radius: 0.5rem;
    font-size: 0.8rem;
    min-width: 90vw;
  }

  .activity-select {
    /* word-wrap: break-word; */
    /* width: 10rem; */
    /* min-width: 13.75rem; */
    inline-size: 150px;
    overflow-wrap: break-word;
    /* hyphens: manual; */
  }

  .explanation-text {
    font-size: 0.8rem;
    width: 75vw;
  }
}

@media screen and (min-width: 769px) {
  .activity-select {
    width: auto;
  }

  .select,
  .input,
  .btn,
  .explanation-text {
    border-radius: 1.875rem;
  }
}

@media screen and (min-width: 1025px) {
}
